.header table {
    width: 100%;
    padding: 2% 5% 2% 5%;
}

.header p {
    display: inline;
    color: rgba(0, 0, 0, .9);
    font-family: proxima-nova, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    text-transform: uppercase;
    font-size: 20px;
}

.heroImage {
    background-image: url("images/rocket_launch.jpg");
}

.content {
    background-color: white;
}

.contactUs {
    background-color: #814EBF;
}

.footer {
    background-color: black;
    color: white;
}